.create-order{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.header-create-order {
    width: 320px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    height: 50px;
}

.header-create-order p {
    font-size: 20px;
    font-weight: bold;
}

.btn {
    border: none;
    background-color: transparent;
}

.form-create-order {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: bold;
}

.textInput {
    width: 300px;
    height: 30px;
    border: 1px solid #445D48;
    border-radius: 10px;
    margin: 5px 0;
    padding: 0 10px;
}

.form-create-order textarea {
    width: 300px;
    height: 60px;
    border: 1px solid #445D48;
    border-radius: 10px;
    margin: 5px 0;
    padding: 10px;
}

.textLabel {
    margin: 5px 0;
    align-self: start;
    font-size: 14px;
}

.add-order {
    border: 1px solid #445D48;
    border-radius: 10px;
}

.add-order-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px 0 40px;
    margin: 0;
    height: 40px;
}

.add-order-header p {
    margin-top: 10px;
    font-size: 15px;
    color: #a0a9b1;
    
    
}



.gen-dishes {
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
    height: 30px;
    margin-top: 15px;
}

.dishe-name {
    width: 200px;
    height: 30px;
    border: 1px solid #445D48;
    border-radius: 10px;
    margin-right: 10px;
    padding: 0 10px;
}

.quantity {
    width: 25px;
    height: 30px;
    border: 1px solid #445D48;
    border-radius: 10px;
    margin-right: 5px;
    padding: 0 10px;
}

.btn-add {
    padding-top: 3px;
    border: none;
    background-color: transparent;
}

.created {
    background-color: #c1e1be;
    border: 2px solid #c1e1be;
    border-radius: 20px;
    padding: 10px 25px ;
    font-size: 14px;
    font-weight: bold;
    color: #445D48;
    margin-top: 15px;
    margin-bottom: 35px;
}

@media only screen and (min-width : 1200px) {
    .create-order{
        width: 1200px;
    }
    .header-create-order{
        width: 1200px;
    }
    .form-create-order{
        width: 1200px;
    }
    .create-order .header-create-order {
        margin-right: -140%;
        margin-top: 1%;
    }
    .create-order .header-create-order p {
        font-size: 150%;
    }
    .create-order .header-create-order .btn {
        margin-right: 70%;
    }
    .create-order .header-create-order .btn svg {
        width: 150%;
        height: 150%;
    }
    .create-order .form-create-order #lbl1{
        margin-left: 60%;
        font-size: 110%;
    }
    .create-order .form-create-order #txtin1{
        margin-left: 60%;
    }


}
