
.tag-order{
    display:flex;
    justify-content: center;
}
.tag-order h2{
    color: #445D48;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.box-1 {
    border: 1px solid #445D48;
    height: 0px;
    width: 20px;
    align-self: center;
    justify-content: baseline;
    margin-right: 10px;
}
.box-2 {
    border: 1px solid #445D48;
    height: 0px;
    width: 200px;
    align-self: center;
    justify-content: baseline;
    margin-left: 10px;
}

.tag-order-dk{
    display:flex;
    justify-content: center;
    
}

.tag-order-dk h1{
    color: #445D48;
    font-size: 30px;
    font-weight: bold;
    margin: 30px 0px 30px 0;
}

.box-3 {
    border: 1px solid #445D48;
    height: 4px;
    width: 1026px;
    background-color: #445D48;
    align-self: center;
    justify-content: baseline;
    margin-left: 25px;
}

@media screen and (min-width: 800px) {

    
    .box-3 {
        width: 900px;
    }
    
}