.didnt-pick {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    margin: 15px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #F6FFDE;
}

.gray-scale {
    color: #69747E;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    padding-left: 10px;
}

.res-lo-header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: fit-content;
    margin: 0px;
}

.order-box {
    color: #445D48;
    font-size: 14px;
    font-weight: lighter;
    margin: 10px 0;
    margin-top: 0;
    text-decoration: none;
}

.green-text{
    color: green;
}

.red-text{
    color: red;
}

.order-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}



@media screen and (min-width: 800px) {
    .order-box {
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }

    .create-order-btn {
        width: fit-content;
        height: fit-content;
        align-self: end;
        position: fixed;
    }
    
    .create-order-btn .btn {
        position: relative;

    }
}


@media screen and (min-width: 1200px) {
    .order-box {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; 
    }
    
    .box-index {
        display: grid; 
    }


    .didnt-pick{
        width: fit-content;
    }
}