body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


.frame-order {
    display: grid;
    grid-template-rows: 1fr 0.5fr 0.5fr;
    /* margin-right: 10px; */
    /* padding:10px */
}

.order-info :where(h2, h3, h4) {
    margin: 5px 0;
    color: #445D48;
    font-weight:lighter;
}

.order-info {
    margin: 20px 0px 10px 0;
    border: 4px solid #c1e1be;
    border-radius: 10px;
    padding: 5px 20px;
    margin: 20px;
    box-shadow: 0px 0px 10px 0px #a0a9b1;
}



.info-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.button-cancle {
    padding: 0;
    width: fit-content;
    height: fit-content;
    background-color:unset;
    border: none;
}

.header-title {
    width: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
}

.btn {
    border: none;
    background-color: transparent;
}

.order-detail {
    width: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
}

:is(.header-title, .order-detail) p {
    margin:0 0 0 10px;
    font-size: 15px;
    font-weight: lighter;
    color: #a0a9b1;
}

.comment {
    margin-top: 15px;
}

.comment p {
    margin: 10px 20px 30px 20px;
    color: #a0a9b1;
    font-size: 14px;
    font-weight: lighter;
}

.order {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    /* padding: 10px; */
}
.order-header1 {
    height: 30px;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.order-header p {
    margin: 10px 0;
    font-size: 15px;
    font-weight: lighter;
    color: #a0a9b1;
}

.OrderEnd {
    display: flex;
    justify-content: center;
}
.endLiner{
    border: 1px solid #a0a9b1;
    width: 340px;
}

.pick-up {
    display: grid;
    /* justify-content: center; */
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: end;
    /* margin-top: 30px; */
}

.pick-up input{
    align-self: self-start;
    justify-self: center;
    width: fit-content;
    height: fit-content;
}

.pick-order {
    background-color: #c1e1be;
    border: 2px solid #c1e1be;
    border-radius: 20px;
    padding: 10px 25px ;
    font-size: 14px;
    font-weight: bold;
    color: #445D48;
}



@media only screen and (min-width : 1200px) { 

    .frame-order {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: .5fr 1.2fr .1fr;
        height: 120%;
    }


    .order-header1 {
        scale: 1.4;
        margin: 25px 0 15px 0;
    }

    .show-dishe {
        margin: 0 20px ;
        scale: 1.4;
        font-size: 12px;

    }

    .order-info{
        grid-area: 1 / 1 / 2 / 2;
        margin: 40px 30px 0 70px;
        height: 80%;
        width: 80%;
    }

    .assetOrder {
        position: relative;
        scale: 1.4;
        top: -50px;
    }

    .order {
        grid-area: 1 / 2 / 3 / 3;   
        border: 2px solid#445D48;
        margin: 70px 40px 0 40px;
        border-radius: 10px;
    }

    .pick-up {
        margin-top: 50px;
        grid-area: 3 / 2 / 4 / 3;
    }

    .asset {
        display: none;
    }

    .OrderEnd {
        display: none;
    }

}

@media only screen and (min-width : 1700px) {

    .frame-order{
        grid-template-rows: .5fr 2fr .3fr;

    }

    .assetOrder {
        position: relative;
        scale: 1.6; 
        top: -60px;
        
    }

    .order-header1 {
        scale: 1.6;
        margin: 25px 0 15px 0;
        width: 450px;
    }

    .MenuOrder {
        scale: 1.4;
        margin: 25px 0 15px 0;
        width: 350px;
    }

    .order{
        margin-top: 100px;
        height: 90%; 
    }

    .pick-up {
        margin-top: 100px;
        scale: 1.6;
    }
}